<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>
        <!-- contents영역 -->
        <div class="container">
            <div class="subtitle">
                <!-- 블록넘버 보여주는 부분 -->
                블록넘버: <p id="blockNumber">
                    <%= blockNumber %>
                </p>
            </div>
            <div>
                <nav class="navbar navbar-expand navbar-dark">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item menu">
                                <a href="#" id="aGetTokenBalance" class="nav-link active">토큰조회</a>
                            </li>
                            <li class="nav-item menu">
                                <a href="#" id="aCreateNewTokens" class="nav-link">토큰생성</a>
                            </li>
                            <li class="nav-item menu">
                                <a href="#" id="aTransferTokens" class="nav-link">토큰전송</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        
            <!-- 잔액조회하는 부분 -->
            <div class="frame active" id="frameGetTokenBalance">
                <div class="title"> Get Token Balance
                </div>
                <div class="contents">
                    <div>
                        계정주소: <select id="selAddressForGetBalance">
                            <% for(let i = 0; i < accounts.length; i++) { %>
                                <option value="<%= i %>"><%= accounts[i] %></option>
                            <% } %>
                        </select>
                    </div> <!-- accounts address -->
                    <div class ="flex-nowrap"> 
                        잔액: <p id="balance"></p>
                    </div> <!-- 잔액표시 -->
                    <div>
                        <button id ="btnGetBalance">계정조회</button>
                    </div> <!-- 잔액조회 버튼 -->
                </div>
            </div>
        
            <!-- 토큰발행하는 부분 -->
            <div class="frame" id="frameCreateNewTokens">
                <div class = "title">Create New Tokens
                </div>
                <div class = "contents">
                    <div>
                        Address : <select id ="selAddressForMint">
                            <% for(let i = 0; i < accounts.length; i++) { %>
                                <option value = "<%= i %>"><%= accounts[i] %></option>    
                            <% } %>
                        </select>
                    </div>
                    <div>발행량: <input type="number" min="0" id="inputAmountForMint" class="input-box" placeholder="10">
                    </div>
                    <div><button id ="btnMint">Mint</button></div>
                </div>
            </div>
        
            <!-- 토큰전송하는 부분 -->
            <div class="frame" id="frameTransferTokens"> 
                 <div class="title">
                    Transfer Tokens
                </div>
                <div class="contents">
                    <div>
                        보내는이: <select id="selFromAddress">
                            <% for(let i=0; i < accounts.length; i++) { %>
                                <option value="<%= i %>"><%= accounts[i] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        받는이: <select id="selToAddress">
                            <% for(let i = 0; i < accounts.length; i++) { %>
                                <option value="<%= i %>"><%= accounts[i] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        전송량: <input type="number" min=0 id="inputAmountForTransfer" class="input-box" placeholder="10">
                    </div>
                    <div>
                        <button id="btnTransfer">Transfer</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <%- include("partials/footer") %>
        </footer>
    </body>
    <script>
        const blockNumber = document.getElementById("blockNumber");

        // 0. nav 버튼 동작
        const frames = document.getElementsByClassName("frame");
        const menus = document.getElementsByClassName("menu");
        const length = menus.length;
    
        for( let i = 0; i < length; i++ ){
            menus[i].addEventListener("click", event => {
                for( let j = 0; j < length; j++ ) {
                    menus[j].children[0].classList.remove("active");
                    frames[j].classList.remove("active");
                }
                const menuID = event.target.id;
                const frameID = menuID.replace("a", "frame");
                document.getElementById(menuID).classList.add("active");
                document.getElementById(frameID).classList.add("active");
            });
        }
        // 토큰조회
        document.getElementById("btnGetBalance").addEventListener("click", event => {
            // 선택된 계정주소를 select에서 꺼내오기
            const selAddressForGetBalance = document.getElementById("selAddressForGetBalance");
            const address = selAddressForGetBalance.options[selAddressForGetBalance.selectedIndex].text;
            // balance를 표시할 p 객체 가져오기
            const balance = document.getElementById("balance");

            // 서버요청하기
            fetch(`/my-token/${address}`)
                .then(response => response.json())
                .then(json => {
                    // 업데이트하기
                    balance.innerHTML = json.balance;
                });
        });
        // 2. 토큰발행
        document.getElementById("btnMint").addEventListener("click", event => {
            const selAddressForMint = document.getElementById("selAddressForMint");
            const address = selAddressForMint.options[selAddressForMint.selectedIndex].text;
            const inputAmount = document.getElementById("inputAmountForMint");
            const amount = inputAmount.value;

            console.log(address, amount);
            
            // 2.1 AJAX 서버연동
            fetch(`/my-token/${address}`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ amount })
            })
                .then(response => response.json())
                .then(json => {
                    alert(json.msg);
                    if(json.blockNumber) blockNumber.innterHTML = json.blockNumber;
                    inputAmount.value="";
                });
        });
        // 3. 토큰전송
        document.getElementById("btnTransfer").addEventListener("click", event => {
            const selFromAddress = document.getElementById("selFromAddress");
            const selToAddress = document.getElementById("selToAddress");
            const from = selFromAddress.options[selFromAddress.selectedIndex].text;
            const to = selToAddress.options[selToAddress.selectedIndex].text;

            const inputAmount = document.getElementById("inputAmountForTransfer");
            const amount = inputAmount.value;

            fetch('/my-token', {
                method: "POST",
                headers: {"Content-Type" : "application/json"},
                body: JSON.stringify({ from, to, amount })
            })
            .then(response => response.json())
            .then(json => {
                alert(json.msg);
                if(json.blockNumber) blockNumber.innerHTML = json.blockNumber;
                inputAmount.value = "";
            });
        });
    </script>
</html>